.main {
  min-height: 88vh;
}

.new-arrival {
  text-shadow: 0 0 10px #15803d, 0 0 20px #44403c, 0 0 30px #155e75;
  animation: neonGlow 1s ease-in-out infinite alternate;
}

@keyframes neonGlow {
  to {
    text-shadow: 0 0 20px #71717a, 0 0 30px #00ff00, 0 0 40px #f97316;
  }
}

.thankYou {
  height: 75vh !important;
}
